body {
    background-color: #f3f3f3;
    margin: 0;
}

header {
    padding: 25px;
    background-color: #f3f3f3;
}

main {
    background-color: #f3f3f3;
}

.introduction {
    background-color: #f3f3f3;
    margin: 0 15px;
}

h2 {
    color: red;
}

h1 {
    font-family: 'Lato';
    background-image: url(images/fire.jpg);
    background-clip: text;
    -webkit-background-clip: text; /* For Safari/Chrome */
    -webkit-text-fill-color: transparent;
    background-size: 125px;
    font-size: 32px !important;
}

.introduction div {
    border: 2px solid white;
    outline: 3px solid white;
    font-family: 'Lato';
}